@model TSD_DAL.Model.BanqueModel
<form id="ParamForm">
    @Html.HiddenFor(model => model.ID)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label class="mb-1" for="NomBanque">Nom de la banque:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-landmark text-gray-400"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.NomBanque, new { @class = "form-control", @placeholder = "", @required = true })
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="mb-1" for="NomBanque">Adresse:</label>
                    @Html.TextAreaFor(model => model.Adresse, new { @class = "form-control", @placeholder = "", @required = true })


                </div>
            </div>
        </div>
        </div>
</form>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" onclick="AddOrUpdateBanque()"><i class="ace-icon fa fa-check"></i> Valider</button>
        <button type="button" class="btn btn-sm" id="AnnulerP" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Annuler</button>
    </div>
