@model int
    <div class="row" style="margin-left:10px">
        <div class="col-md-4">
            @Html.Label("Libellé")
            @Html.TextBox("LibelleFilter", "", new { @onkeyup = "RefreshServicesGrid();", @class = "form-control border-left-info" })


        </div>


        <div class="col-md-4">
            @if (Model == 1)
            {
                <button onclick="OpenServicesEditor(0)" style="height:50%;margin-top:35px" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                    <span class="icon text-white-30">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            }
        </div>
        <div class="col-md-4">
            @*@Html.Label("Référence")
            @Html.TextBox("ReferenceFilter", "", new { @onkeyup = "RefreshServicesGrid();", @class = "form-control border-left-info" })*@
            @Html.Hidden("ReferenceFilter", "")
        </div>
    </div>