
<script type="text/javascript">
    $("#_acceuil").addClass("active");
</script>

@*<link href="~/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">*@
@{
    double totalFactures = (double)ViewBag.FactureClientAmount;
    double totalReglementsC = (double)ViewBag.totalReglementsAmountC;
    double totalReglementsF = (double)ViewBag.totalReglementsAmountF;
    double totalFacturesFournissurs = (double)ViewBag.totalFacturesFournissurs;
    double totalBC = (double)ViewBag.totalBC;
    double totalBL = (double)ViewBag.totalBL;
    int Passages = (int)ViewBag.Passages;
}


<button onclick="test()" id="test">Print</button>
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <div class="ibox-content">
            <h2>
                ACCEUIL
            </h2>


        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">


    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-4">

        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <a href="/Common/ListPieces?Type=CFAC&CurrentDate=1" style="text-decoration:none">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Factures clients</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600 ">@totalFactures DT</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-donate fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </a>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-9">
                        @Html.TextBox("CFACFinder", "", new { @placeholder = "Recherche", onchange = "OpenCFACByNumber()", @class = "form-control border-left-primary" })
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-2">
                        <button onclick="OpenEditorToAddFacture('CFAC')" style="align-self:center;margin-left:5px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <span class="icon text-white-30">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xl-6 col-md-6 mb-4">

        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <a href="/Common/ListPieces?Type=FFAC&CurrentDate=1" style="text-decoration:none">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Factures Fournisseurs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">@totalFacturesFournissurs DT</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-donate fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </a>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-9">
                        @Html.TextBox("FFACFinder", "", new { @placeholder = "Recherche", onchange = "OpenFFACByNumber()", @class = "form-control border-left-success" })
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-2">
                        <button onclick="OpenEditorToAddFacture('FFAC')" style="align-self:center;margin-left:5px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                            <span class="icon text-white-30">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <a href="/Common/ExternalReglements?Owner=C&CurrentDate=1" style="text-decoration:none">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Règlements clients</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">@totalReglementsC DT</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </a>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-9">
                        @Html.TextBox("REGPFinder", "", new { @placeholder = "Recherche", onchange = "OpenREGNByNumber('REGP')", @class = "form-control border-left-primary" })
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-2">
                        <button onclick="OpenExternalReglementsEditor('C')" style="align-self:center;margin-left:5px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <span class="icon text-white-30">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <a href="/Common/ExternalReglements?Owner=F&CurrentDate=1" style="text-decoration:none">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Règlements fournisseurs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">@totalReglementsF DT</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </a>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-9">
                        @Html.TextBox("REGNFinder", "", new { @placeholder = "Recherche", onchange = "OpenREGNByNumber('REGN')", @class = "form-control border-left-success" })
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-2">
                        <button onclick="OpenExternalReglementsEditor('F')" style="align-self:center;margin-left:5px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                            <span class="icon text-white-30">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example
        <div class="col-xl-6 col-md-6 mb-4">

        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <a href="/Common/ListPieces?Type=BLIV&CurrentDate=1" style="text-decoration:none">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Bons de livraison</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">totalBL DT</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-truck fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </a>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-9">
                        Html.TextBox("BLIVFinder", "", new { placeholder = "Recherche", onchange = "OpenBLIVByNumber()", class = "form-control border-left-primary" })
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-2">
                        <button onclick="OpenEditorToAddFacture('BLIV')" style="align-self:center;margin-left:5px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <span class="icon text-white-30">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <div class="col-xl-3 col-md-6 mb-4">

                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <a href="/Common/ListPieces?Type=BCOM&CurrentDate=1" style="text-decoration:none">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Bons de commande</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-600">totalBC DT</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-shopping-basket fa-2x text-gray-500"></i>
                                </div>
                            </div>
                        </a>
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-9">
                                    Html.TextBox("BCOMFinder", "", new { placeholder = "Recherche", onchange = "OpenBCOMByNumber()", class = "form-control border-left-primary" })
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-2">
                                    <button onclick="OpenEditorToAddFacture('BCOM')" style="align-self:center;margin-left:5px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <span class="icon text-white-30">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
    </div>
                </div>

        </div>
        <div class="col-xl-3 col-md-6 mb-4">

                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <a href="/Vente/Passages" style="text-decoration:none">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Passages Clients</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="h5 mb-0 font-weight-bold text-gray-600">Passages Passages</div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-500"></i>
                                </div>
                            </div>
                        </a>
                        <div class="row no-gutters align-items-center" style="margin-top:15px;">
                            <div class="col-md-6">
                                <button onclick="OpenPersonEditor(0)" style="align-self:center;margin-left:5px;width:100%" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm">
                                    <span class="icon text-white-30" style="float:left">
                                        <i class="fas fa-plus"></i>

                                    </span>
                                    <span class="text">Personne</span>
                                </button>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-5">
                                <button onclick="OpenCongesEditor(0)" style="align-self:center;margin-left:5px;width:100%" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm">
                                    <span class="icon text-white-30" style="float:left">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text">Congé</span>
                                </button>
                            </div>
                        </div>
    </div>
                </div>

        </div>-->
</div>
<div class="row" style="margin-top:10px;">



    <!-- Pending Requests Card Example-->
    <!-- Earnings (Monthly) Card Example -->
    <!-- Pending Requests Card Example -->
    @*<div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <a href="/Stock/Produits?DefaultFilter=" style="text-decoration:none">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">produits</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-600">@ProduitsManquant manquants</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-box-open fa-2x text-gray-500"></i>
                                </div>
                            </div>
                            </a>
                            <div class="row no-gutters align-items-center" style="margin-top:15px;">
                                <div class="col-md-6">
                                    <button onclick="OpenProduitsEditor(0)" style="align-self:center;margin-left:5px;width:100%" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm">
                                        <span class="icon text-white-30" style="float:left">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Produit</span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5">
                                    <button onclick="OpenMVTStockEditor(0)" style="align-self:center;margin-left:5px;width:100%" class="d-none d-sm-inline-block btn btn-sm btn-info btn-icon-split shadow-sm">
                                        <span class="icon text-white-30" style="float:left">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">MVT</span>
                                    </button>                        </div>

                                </div>
        </div>
                </div>
            </div>*@
</div>
@*<script src="~/js/plugins/morris/raphael-2.1.0.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/morris/morris.js" type="text/javascript"></script>*@
<script src="~/Scripts/Pieces-JS.js"></script>
<script src="~/Scripts/Stock-JS.js"></script>
<script src="~/Scripts/RH-JS.js"></script>
<script>
    function OpenCFACByNumber() {

        var numPiece = $("#CFACFinder").val();
        if (numPiece != null && numPiece != "" && numPiece != undefined) {
            SearchTypeAndOpenFactureDetail(numPiece);
        }
    }
    function OpenFFACByNumber() {

        var numPiece = $("#FFACFinder").val();
        if (numPiece != null && numPiece != "" && numPiece != undefined) {
            SearchTypeAndOpenFactureDetail(numPiece);
        }
    }
    function OpenBLIVByNumber() {

        var numPiece = $("#BLIVFinder").val();
        if (numPiece != null && numPiece != "" && numPiece != undefined) {
            SearchTypeAndOpenFactureDetail(numPiece);
        }
    }
    function OpenBCOMByNumber() {

        var numPiece = $("#BCOMFinder").val();
        if (numPiece != null && numPiece != "" && numPiece != undefined) {
            SearchTypeAndOpenFactureDetail(numPiece);
        }
    }

    function OpenREGNByNumber(Type) {

        var Reglement = $("#" + Type + "Finder").val();
        if (Reglement != null && Reglement != "" && Reglement != undefined) {
            $.ajax({
                type: "GET",
                url: "/Common/GetReglementIDByRef",
                data: { Reglement: Reglement },
                success: function (response) {
                    if (response != null && response != "") {
                        window.open("/Common/ExternalReglementDetails?ExternalReglementID=" + response, "_self");
                    }
                    else {
                        toastr.error('Réglement introuvable', 'Erreur !', { progressBar: true, ShowDuration: 500 });
                    }


                },
                failure: function (response) { }
            });
        }

    }
    function test() {
        window.open("/Print/Report",'_blank')
    }
</script>