
@{ 
    string OwnerType = (string)ViewBag.OwnerType ;
    string Sens = (string)ViewBag.Sens ;
    int OwnerID = (int)ViewBag.OwnerID;
    string reglementType = (string)ViewBag.reglementType;
}
<div class="col-md-6">
    <span class="input-group-addon"><i class="fa fa-key"></i></span>
    @Html.Label("Compte")

    @Html.DropDownList("compte", Gestion_Commerciale.Controllers.CommonController.GetComptesList(OwnerType, Sens, OwnerID,reglementType), new { @class = "form-control border-left-info" })
    </div>