
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink  fa-spin"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Dark Soft</div>
        </a>
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li id="_acceuil" class="nav-item">
            <a id="_acceuilHref" class="nav-link" href="/Home/index">
                <i class="fas fa-fw fa-home"></i>
                <span>Acceuil</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <!-- Nav Item - Pages Collapse Menu -->
        <li id="_ventes" class="nav-item">
            <a  class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVentes" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-shopping-basket"></i>
                <span>Ventes</span>
            </a>
            
            <div id="collapseVentes" class="collapse  bg-gradient-light rounded" style="z-index:9999999999999" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Ventes</h6>

                    <a id="_listePiecesHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Common/ListPieces?Type=CFAC&CurrentDate=0">Factures clients</a>
                    <a id="_pricingListHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Vente/PricingList?Type=Devis">Devis</a>
                    @*<a class="collapse-item text-xs  text-uppercase mb-1" href="/Vente/PricingList?Type=Tarifs">Tarifs</a>*@

                    <a id="_externalReglementsHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Common/ExternalReglements?Owner=C&CurrentDate=0">Règlements clients</a>
                    <a id="_clientHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Vente/Client">Liste des clients</a>
                    @*<a class="collapse-item text-xs  text-uppercase mb-1" href="/Vente/Passages">Passages clients</a>*@
                </div>
            </div>
        </li>
        <li id="_achat" class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAchat" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-truck"></i>
                <span>Achat</span>
            </a>
            <div id="collapseAchat" class="collapse  bg-gradient-light rounded" style="z-index:9999999999999" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Achat</h6>
                    <a id="listPiecesAchat" class="collapse-item text-xs  text-uppercase mb-1" href="/Common/ListPieces?Type=FFAC&CurrentDate=0">Factures fournisseurs</a>
                    @*<a class="collapse-item text-xs  text-uppercase mb-1" href="/Common/ListPieces?Type=BLIV&CurrentDate=0">Bon de Livraison</a>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/Common/ListPieces?Type=BCOM&CurrentDate=0">Bon de Commande</a>*@
                    <a id="_externalReglementsAchat" class="collapse-item text-xs  text-uppercase mb-1" href="/Common/ExternalReglements?Owner=F&CurrentDate=0">Règlements fournisseurs</a>
                    <a id="fournisseurHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Achat/Fournisseur">Liste des fournisseurs</a>

                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <!-- Divider -->
        <!-- Nav Item - Pages Collapse Menu -->
        @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-box-open"></i>
                <span>Stock</span>
            </a>
            <div id="collapsePages" class="collapse  bg-gradient-light rounded"  style="z-index:9999999999999" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Stock</h6>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/Stock/Produits?DefaultFilter=">Liste Des Produits</a>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/Stock/Mouvements">Mouvements</a>

                </div>
            </div>
        </li>*@
        <li id="_produits" class="nav-item">
            <a id="_produitsHref" class="nav-link" href="/Stock/Services">
                <i class="fas fa-fw fa-handshake"></i>
                <span>Produits</span>
            </a>
        </li>
        @*<hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRH" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-user"></i>
                <span>RH</span>
            </a>
            <div id="collapseRH" class="collapse  bg-gradient-light rounded" style="z-index:9999999999999" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">RH</h6>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/RH/Conges">Liste des congés</a>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/RH/CongesCalendar">Calendrier des congés</a>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/RH/Person">Liste des personnes</a>

                </div>
            </div>
        </li>*@
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li id="_administration" class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdministration" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Administration</span>
            </a>
            <div id="collapseAdministration" class="collapse  bg-gradient-light rounded" style="z-index:9999999999999" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Administration</h6>
                    @*<a class="collapse-item text-xs  text-uppercase mb-1" href="/Administration/MotifsConges">Motifs des congés</a>*@
                    @* <a class="collapse-item text-xs  text-uppercase mb-1" href="/Administration/Taxes">Liste des taxes</a>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/Administration/JoursFeries">Jours fériés</a>
                                <a class="collapse-item text-xs  text-uppercase mb-1" href="/Administration/TypeReglement">Types des règlements</a>*@
                    <a id="banqueHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Administration/Banque">Liste des banques</a>
                    <a id="compteBanquaireHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Administration/CompteBancaire">Comptes bancaires</a>
                    @*<a class="collapse-item text-xs  text-uppercase mb-1" href="/Administration/Reclamations">Historique des réclamations</a>*@




                </div>
            </div>
        </li>
        <li id="_statistique" class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStatistiques" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-chart-bar"></i>

                <span>Statistiques</span>
            </a>
            <div id="collapseStatistiques" class="collapse  bg-gradient-light rounded" style="z-index:9999999999999" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Statistiques</h6>
                    <a id="ReleveDeCompteHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Statistiques/ReleveDeCompte">Relevé de compte</a>
                    <a id="ClientsHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Statistiques/Clients">Chiffres par client</a>
                    <a id="EtatClientHref" class="collapse-item text-xs  text-uppercase mb-1" href="/Statistiques/EtatClient">Etat clients</a>
                    @*<a class="collapse-item text-xs  text-uppercase mb-1" href="/Statistiques/EngagementsFournisseurs">Engageemnts fournisseurs</a>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/Statistiques/Dashbord">Tableau de bord</a>
                    <a class="collapse-item text-xs  text-uppercase mb-1" href="/Statistiques/ChiffreAffaires">Chiffre d'affaires</a>*@
                </div>
            </div>
        </li>
        <!-- Nav Item - Tables -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

